---
import projects from "../../data/projects.ts";

export function getStaticPaths() {
  return projects.map((proj) => ({
    params: { project: proj.project },
  }));
}

const { project } = Astro.params;
const selectedProject = projects.find((proj) => proj.project === project);

if (!selectedProject) {
  throw new Error(`Project not found: ${project}`);
}
---

<article class="project-page">
    <h1>{selectedProject.title}</h1>
    <p>{selectedProject.date}</p>

    <div class="project-content">
        <div>
        <section>
            <h2>Project Overview</h2>
            <p>{selectedProject.overview}</p>
        </section>

        <section>
            <h2>Technologies Used</h2>
            <p>{selectedProject.technologies}</p>
        </section>

        <section>
            <h2>Challenges & Learnings</h2>
            <p>{selectedProject.challenges}</p>
        </section>
        </div>

        <img src={selectedProject.image} alt="Project Screenshot" class="project-image" />
    </div>
</article>
