---
import experiences from "../../data/experience.ts";

export function getStaticPaths() {
  return experiences.map((exp) => ({
    params: { experience: exp.experience },
  }));
}

const { experience } = Astro.params;
const selectedExperience = experiences.find((exp) => exp.experience === experience);

if (!selectedExperience) {
  throw new Error(`Experience not found: ${experience}`);
}
---

<article class="experience-page">
    <h1>{selectedExperience.title} @ {selectedExperience.company}</h1>
    <p>{selectedExperience.date}</p>

    <div class="experience-content">
        <img src={selectedExperience.image} alt={selectedExperience.company + " Experience Screenshot"} class="experience-image" />

        <div>
        <section>
            <h2>Overview</h2>
            <p>{selectedExperience.overview}</p>
        </section>

        <section>
            <h2>Responsibilities</h2>
            <ul>
            {selectedExperience.responsibilities.map((task) => (
                <li>{task}</li>
            ))}
            </ul>
        </section>

        <section>
            <h2>Technologies Used</h2>
            <p>{selectedExperience.technologies}</p>
        </section>
        </div>
    </div>
</article>